{% extends 'base.html' %}
{% block title %}Hocaları Listele{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Tüm Hocalar</h1>
<div class="list-group">
  {% for prof in profs %}
  <a class="list-group-item list-group-item-action bg-dark text-light mb-2 shadow-sm">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ prof.id }} - {{ prof.name }}</h5>
    </div>
  </a>
  {% endfor %}
</div>
<div class="text-center mt-4">
  <a href="{{ url_for('index') }}" class="btn btn-secondary">Geri Dön</a>
</div>
{% endblock %}